body {
    font-family: Arial;
    background-color: rgb(240, 248, 255);
    text-align:center;
}
button {
    padding: 10px;
    background-color: purple;
    color: black;
    border: none;
    text-emphasis: none;
}
